## Load ipython-sql and connect to database

In [26]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [27]:
%sql postgresql://gpadmin:4Mk1FilwmKzZc@ec2-3-8-120-250.eu-west-2.compute.amazonaws.com:5432/gpadmin

'Connected: gpadmin@gpadmin'

In [28]:
%sql SELECT VERSION();

 * postgresql://gpadmin:***@ec2-3-8-120-250.eu-west-2.compute.amazonaws.com:5432/gpadmin
1 rows affected.

[('PostgreSQL 8.3.23 (Greenplum Database 5.23.0 build commit:5eaaa5800e9f492683c3ce313e54d3db5afbce79) on x86_64-pc-linux-gnu, compiled by GCC gcc (GCC) 6.2.0, 64-bit compiled on Oct 30 2019 22:25:52',)]

In [29]:
%sql SET search_path=pricing, public;

 * postgresql://gpadmin:***@ec2-3-8-120-250.eu-west-2.compute.amazonaws.com:5432/gpadmin
Done.

[]

# Pricing Optimization

### 1_Run_Linear_Regression

In [ ]:
%%sql
DROP TABLE IF EXISTS pricing.model_results CASCADE;
DROP TABLE IF EXISTS pricing.model_results_summary CASCADE;

-- You can choose to analyze the pricing.flight_history table if you want.

SELECT madlib.linregr_train(
    'pricing.flight_history',
    'pricing.model_results',
    'Sales',
    'ARRAY[
    -- intercept
    1,
    --prices
    Price,
    Price_Comp1,
    Price_Comp2,
    Price_Comp3, 
    Price_Comp4, 
    --seasonality 
    Flight_Month, 
    CASE WHEN Flight_Weekday=2 THEN 1 ELSE 0 END, 
    CASE WHEN Flight_Weekday=3 THEN 1 ELSE 0 END, 
    CASE WHEN Flight_Weekday=4 THEN 1 ELSE 0 END, 
    CASE WHEN Flight_Weekday=5 THEN 1 ELSE 0 END, 
    CASE WHEN Flight_Weekday=6 THEN 1 ELSE 0 END, 
    CASE WHEN Flight_Weekday=7 THEN 1 ELSE 0 END, 
    Holiday_Indicator, 
    --trend
    CURRENT_DATE-flight_date]',
    'routeid, origin, destination, class, days_to_flight'
);

### 2_Score_Linear_Regression_Model

In [7]:
%%sql
ANALYZE pricing.to_be_priced_flights;
ANALYZE pricing.model_results;

DROP TABLE IF EXISTS pricing.scoring CASCADE;
CREATE TABLE pricing.scoring AS
(
SELECT
t.RouteID, t.Route_Origin, t.Route_Destination, t.Class, t.Flight_Date, t.Days_To_Flight,
LEAST(coef[2], -0.0001) as price_coef,
madlib.array_dot (
ARRAY[
1,
0, -- Own price is zeroed out
t.Price_Comp1,
t.Price_Comp2,
t.Price_Comp3,
t.Price_Comp4,
t.Flight_Month,
CASE WHEN t.Flight_Weekday = 2 THEN 1 ELSE 0 END,
CASE WHEN t.Flight_Weekday = 3 THEN 1 ELSE 0 END,
CASE WHEN t.Flight_Weekday = 4 THEN 1 ELSE 0 END,
CASE WHEN t.Flight_Weekday = 5 THEN 1 ELSE 0 END,
CASE WHEN t.Flight_Weekday = 6 THEN 1 ELSE 0 END,
CASE WHEN t.Flight_Weekday = 7 THEN 1 ELSE 0 END,
Holiday_Indicator,
CURRENT_DATE - flight_date
]::FLOAT8[], model.coef) as predicted_sales
FROM
pricing.to_be_priced_flights t, pricing.model_results model
WHERE
  t.RouteID = model.RouteID
  AND t.Class = model.Class
  AND t.Days_To_Flight = model.Days_To_Flight AND model.coef is NOT NULL
  )
DISTRIBUTED BY(RouteID);

 * postgresql://gpadmin:***@ec2-3-8-120-250.eu-west-2.compute.amazonaws.com:5432/gpadmin
Done.
Done.
Done.
60695712 rows affected.

[]

### 3_Input_For_QP

In [8]:
%%sql
ANALYZE pricing.scoring;

DROP TABLE IF EXISTS pricing.input_for_QP CASCADE;

CREATE TABLE pricing.input_for_QP AS
SELECT routeID, Route_Origin, Route_Destination, class, flight_Date, 
array_agg(price_coef order by days_to_flight) price_coef_array, array_agg(predicted_sales order by days_to_flight) predicted_sales_array
FROM pricing.scoring
GROUP BY routeID, Route_Origin, Route_Destination, class, flight_Date
DISTRIBUTED BY (routeID);

 * postgresql://gpadmin:***@ec2-3-8-120-250.eu-west-2.compute.amazonaws.com:5432/gpadmin
Done.
Done.
4335408 rows affected.

[]

### 4_Optimize_Daily_Prices

In [30]:
%sql SELECT * FROM pg_extension;

 * postgresql://gpadmin:***@ec2-3-8-120-250.eu-west-2.compute.amazonaws.com:5432/gpadmin
2 rows affected.

[('pxf', 10, 2200, False, '1.0', None, None),
 ('plr', 10, 2200, True, '8.3.0.16', None, None)]

In [33]:
%%sql
CREATE OR REPLACE FUNCTION pricing.r_max (integer, integer) RETURNS integer AS $$
if (arg1 > arg2) 
    return(arg1) 
else 
    return(arg2)
$$ LANGUAGE plr STRICT;

 * postgresql://gpadmin:***@ec2-3-8-120-250.eu-west-2.compute.amazonaws.com:5432/gpadmin
Done.

[]

In [34]:
%%sql

CREATE OR REPLACE FUNCTION r_solve_QP(a float8[], b float8[], c integer)
RETURNS float8[] AS 
$$
    library(quadprog)
    
    Dmat<- matrix(0,14,14)
    diag(Dmat) <- -2*a 
    dvec <- b 
    
    Amat <- matrix(0,14,15)
    Amat[,1] <- -a
    
    diag(Amat[,2:15]) <- a
    bvec  <- c(-c+sum(b),-b)

    qp<-solve.QP(Dmat,dvec,Amat,bvec=bvec)
    
    return(qp$solution)
$$ 
LANGUAGE 'plr';

 * postgresql://gpadmin:***@ec2-3-8-120-250.eu-west-2.compute.amazonaws.com:5432/gpadmin
Done.

[]

In [35]:
%%sql
ANALYZE pricing.input_for_qp;

DROP TABLE IF EXISTS pricing.optimal_prices CASCADE;

CREATE TABLE pricing.optimal_prices
AS
SELECT
  routeid, Route_Origin, Route_Destination,
  "class",
  flight_date,
  CASE
    WHEN class='Economy' THEN pricing.r_solve_QP(price_coef_array, predicted_sales_array, 200)
    WHEN class='Business' THEN pricing.r_solve_QP(price_coef_array, predicted_sales_array, 15)
    ELSE pricing.r_solve_QP(price_coef_array, predicted_sales_array, 10) END as optimal_prices
FROM pricing.input_for_qp
DISTRIBUTED BY (routeid, "class", flight_date);

 * postgresql://gpadmin:***@ec2-3-8-120-250.eu-west-2.compute.amazonaws.com:5432/gpadmin
Done.
Done.
4335408 rows affected.

[]

### 5_Query_Optimized_Prices

In [38]:
%%sql
select * from pricing.optimal_prices order by random() limit 5;

 * postgresql://gpadmin:***@ec2-3-8-120-250.eu-west-2.compute.amazonaws.com:5432/gpadmin
5 rows affected.

[(4104, 'STL', 'LAS', 'First-Class', datetime.date(2011, 12, 1), [5182.02433783176, 4715.00422056, 4570.51065425164, 5332.79590697924, 10419.4242614342, 6846.71589343225, 9506.59212467897, 6962.2088045726, 8383.06213501785, 3465.89577393307, 3308.7107097308, 3354.85266341499, 3636.22050854879, 3159.29420713712]),
 (2544, 'SAN', 'RNO', 'Business', datetime.date(2012, 3, 2), [1915.70441471753, 1965.54758435517, 1939.11731053378, 2013.78025021197, 1765.31667526202, 1811.24023135286, 1799.27368341166, 1808.18601007453, 1798.08047718199, 1598.61832791902, 1621.63588692366, 1589.26074413396, 1590.20832532175, 1597.29640587086]),
 (8377, 'EWR', 'DEN', 'Economy', datetime.date(2011, 12, 16), [1160.87733746166, 1167.80602704769, 1169.85192031973, 1301.0491617583, 1068.02129485053, 1067.41497946647, 1071.43227084671, 1064.09248938293, 1106.32965910975, 844.844079979657, 863.648033934033, 862.341711604074, 872.882961749464, 848.298695454651]),
 (10380, 'SNA', 'DAL', 'First-Class', datetime.date(2012, 1, 17), [2649.46107131173, 2655.57235300858, 2855.19896933452, 3245.06412467033, 5417.76591315785, 3887.71404587978, 6619.02365342572, 5528.10812645798, 4288.18601810144, 2409.39223119115, 1947.56113760596, 2119.20639971019, 2172.40109485676, 1883.44437459834]),
 (5596, 'ATL', 'RDU', 'First-Class', datetime.date(2011, 11, 16), [2858.1803368158, 2788.26829979509, 2810.02440216911, 2961.45016057547, 4484.08140904271, 10943.3802793845, 3718.35492995415, 3500.67622684145, 4006.65975852324, 2356.80410463865, 1813.79830667977, 2317.1224366699, 2193.04644831529, 2342.52918936601])]

In [42]:
%%sql
SELECT Route_Origin, Route_Destination, class, flight_date, unnest(array[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]) as days_to_flight,
unnest(optimal_prices) as optimal_pricing
FROM pricing.optimal_prices
WHERE flight_date='2012-03-10' and class='Business'
LIMIT 10;

 * postgresql://gpadmin:***@ec2-3-8-120-250.eu-west-2.compute.amazonaws.com:5432/gpadmin
10 rows affected.

[('LAX', 'TUS', 'Business', datetime.date(2012, 3, 10), 1, 1230.20956953005),
 ('LAX', 'TUS', 'Business', datetime.date(2012, 3, 10), 2, 1204.12343518181),
 ('LAX', 'TUS', 'Business', datetime.date(2012, 3, 10), 3, 1277.12448225879),
 ('LAX', 'TUS', 'Business', datetime.date(2012, 3, 10), 4, 1249.49182174931),
 ('LAX', 'TUS', 'Business', datetime.date(2012, 3, 10), 5, 1198.80195197019),
 ('LAX', 'TUS', 'Business', datetime.date(2012, 3, 10), 6, 1136.43106151803),
 ('LAX', 'TUS', 'Business', datetime.date(2012, 3, 10), 7, 1142.7269775641),
 ('LAX', 'TUS', 'Business', datetime.date(2012, 3, 10), 8, 1147.757785301),
 ('LAX', 'TUS', 'Business', datetime.date(2012, 3, 10), 9, 1186.6226583766),
 ('LAX', 'TUS', 'Business', datetime.date(2012, 3, 10), 10, 1047.87084066258)]

In [43]:
%%sql
SELECT Route_Origin, Route_Destination, class, flight_date, unnest(array[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]) as days_to_flight,
unnest(optimal_prices) as optimal_pricing
FROM pricing.optimal_prices
WHERE flight_date='2012-01-17' and routeid=2544 and class='First-Class'

 * postgresql://gpadmin:***@ec2-3-8-120-250.eu-west-2.compute.amazonaws.com:5432/gpadmin
140 rows affected.

[('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 1, 3175.9309365636),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 2, 3084.05839830943),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 3, 2863.80984108675),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 4, 3395.8499944738),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 5, 5133.23484523158),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 6, 4662.52880802498),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 7, 4004.61328521248),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 8, 5814.91535536363),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 9, 11426.8066216071),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 10, 1982.92107649809),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 11, 2323.2014365255),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 12, 1754.18250396486),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 13, 2305.62200230701),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 14, 2002.08858902903),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 15, 3175.9309365636),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 16, 3084.05839830943),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 17, 2863.80984108675),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 18, 3395.8499944738),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 19, 5133.23484523158),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 20, 4662.52880802498),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 1, 4004.61328521248),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 2, 5814.91535536363),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 3, 11426.8066216071),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 4, 1982.92107649809),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 5, 2323.2014365255),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 6, 1754.18250396486),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 7, 2305.62200230701),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 8, 2002.08858902903),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 9, 3175.9309365636),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 10, 3084.05839830943),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 11, 2863.80984108675),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 12, 3395.8499944738),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 13, 5133.23484523158),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 14, 4662.52880802498),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 15, 4004.61328521248),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 16, 5814.91535536363),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 17, 11426.8066216071),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 18, 1982.92107649809),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 19, 2323.2014365255),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 20, 1754.18250396486),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 1, 2305.62200230701),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 2, 2002.08858902903),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 3, 3175.9309365636),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 4, 3084.05839830943),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 5, 2863.80984108675),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 6, 3395.8499944738),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 7, 5133.23484523158),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 8, 4662.52880802498),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 9, 4004.61328521248),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 10, 5814.91535536363),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 11, 11426.8066216071),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 12, 1982.92107649809),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 13, 2323.2014365255),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 14, 1754.18250396486),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 15, 2305.62200230701),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 16, 2002.08858902903),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 17, 3175.9309365636),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 18, 3084.05839830943),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 19, 2863.80984108675),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 20, 3395.8499944738),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 1, 5133.23484523158),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 2, 4662.52880802498),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 3, 4004.61328521248),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 4, 5814.91535536363),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 5, 11426.8066216071),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 6, 1982.92107649809),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 7, 2323.2014365255),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 8, 1754.18250396486),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 9, 2305.62200230701),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 10, 2002.08858902903),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 11, 3175.9309365636),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 12, 3084.05839830943),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 13, 2863.80984108675),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 14, 3395.8499944738),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 15, 5133.23484523158),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 16, 4662.52880802498),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 17, 4004.61328521248),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 18, 5814.91535536363),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 19, 11426.8066216071),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 20, 1982.92107649809),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 1, 2323.2014365255),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 2, 1754.18250396486),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 3, 2305.62200230701),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 4, 2002.08858902903),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 5, 3175.9309365636),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 6, 3084.05839830943),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 7, 2863.80984108675),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 8, 3395.8499944738),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 9, 5133.23484523158),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 10, 4662.52880802498),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 11, 4004.61328521248),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 12, 5814.91535536363),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 13, 11426.8066216071),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 14, 1982.92107649809),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 15, 2323.2014365255),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 16, 1754.18250396486),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 17, 2305.62200230701),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 18, 2002.08858902903),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 19, 3175.9309365636),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 20, 3084.05839830943),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 1, 2863.80984108675),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 2, 3395.8499944738),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 3, 5133.23484523158),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 4, 4662.52880802498),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 5, 4004.61328521248),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 6, 5814.91535536363),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 7, 11426.8066216071),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 8, 1982.92107649809),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 9, 2323.2014365255),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 10, 1754.18250396486),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 11, 2305.62200230701),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 12, 2002.08858902903),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 13, 3175.9309365636),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 14, 3084.05839830943),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 15, 2863.80984108675),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 16, 3395.8499944738),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 17, 5133.23484523158),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 18, 4662.52880802498),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 19, 4004.61328521248),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 20, 5814.91535536363),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 1, 11426.8066216071),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 2, 1982.92107649809),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 3, 2323.2014365255),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 4, 1754.18250396486),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 5, 2305.62200230701),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 6, 2002.08858902903),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 7, 3175.9309365636),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 8, 3084.05839830943),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 9, 2863.80984108675),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 10, 3395.8499944738),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 11, 5133.23484523158),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 12, 4662.52880802498),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 13, 4004.61328521248),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 14, 5814.91535536363),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 15, 11426.8066216071),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 16, 1982.92107649809),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 17, 2323.2014365255),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 18, 1754.18250396486),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 19, 2305.62200230701),
 ('SAN', 'RNO', 'First-Class', datetime.date(2012, 1, 17), 20, 2002.08858902903)]